{% extends '_layout' %}
{% set notes = [
    'Output entries (using deprecated code without `limit`).',
] %}

{% set limit = craft.app.request.getParam('limit') ?? 10 %}
{% set entries = craft.entries
    .section('articles')
    .orderBy('order asc')
%}


{% block content %}

    {% if entries|length %}
        <ul>
            {% for entry in entries %}
                {% if loop.index <= limit %}
                    <li>
                        {{ entry.title }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

    <p>
        <small>
            Showing {{ limit }} entries.
        </small>
    </p>

{% endblock %}


{% set code = "
{% set entries = craft.entries.section('articles') %}

{% if entries|length %}
    <ul>
        {% for entry in entries %}
            {% if loop.index <= " ~ limit ~ " %}
                <li>
                    {{ entry.title }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}

Showing " ~ limit ~ " entries.
" %}
