{% extends '_layout' %}


{% block content %}

    <h2>
        <a href="https://docs.craftcms.com/v3/dev/eager-loading-elements.html">
            Craft 3 Docs » Eager-Loading Elements
        </a>
    </h2>
    <ul>
        <li>Eager-Loading Nested Sets of Elements</li>
        <li>Eager-Loading Multiple Sets of Elements</li>
        <li>Eager-Loading Elements Related to Matrix Blocks</li>
        <li>Eager-Loading Image Transform Indexes</li>
    </ul>

{% endblock %}


{% set code = "
{% set entries = craft.entries.section('articles')
    .with([
        'relatedEntries.relatedEntries',
        'matrixField.blockType:bannerImages',
        ['heroImages', {
            withTransforms: ['heroTransform']
        }],
    ])
    .all()
%}
" %}
