{% extends '_layout' %}


{% block content %}

    <h2>
        <a href="https://docs.craftcms.com/v3/dev/eager-loading-elements.html">
            Craft 3 Docs » Eager-Loading Elements
        </a>
    </h2>
    <ul>
        <li>Eager-Loading Nested Sets of Elements</li>
        <li>Eager-Loading Multiple Sets of Elements</li>
        <li>Eager-Loading Elements Related to Matrix Blocks</li>
        <li>Eager-Loading Image Transform Indexes</li>
    </ul>

    <br><br>

    <h3>
        Eager load sub-elements of auto-injected elements.
        <br>
        <a href="https://docs.craftcms.com/api/v3/craft-services-elements.html#method-eagerloadelements">
            <code>craft.app.elements.eagerLoadElements</code>
        </a>
    </h3>

    <p>
        <a href="https://plugins.craftcms.com/eager-beaver">
            Eager Beaver Plugin »
        </a>
        <br>
        <em>by nystudio107</em>
    </p>

    <p>
        <a href="https://nystudio107.com/blog/speed-up-your-craft-cms-templates-with-eager-loading">
            Speed up your Craft CMS Templates with Eager Loading »
        </a>
        <br>
        <em>by Andrew Welch (5 min. read)</em>
    </p>

{% endblock %}


{% set code = "
{% set entries = craft.entries.section('articles')
    .with([
        'relatedEntries.relatedEntries',
        'matrixField.blockType:bannerImages',
        ['heroImages', {
            withTransforms: ['heroTransform']
        }],
    ])
    .all()
%}


{# Eager load sub-elements of auto-injected elements #}

{# Natively in Craft 3 #}
{% do craft.app.elements.eagerLoadElements(
    className(entry),
    [entry],
    ['relatedEntries.relatedEntries']
) %}

{# Eager Beaver Plugin #}
{% do eagerLoadElements(entry, [
    'relatedEntries.relatedEntries'
]) %}
" %}
