{% extends '_layout' %}


{% block content %}

    <h2>
        <a href="https://github.com/putyourlightson/craft-elements-panel">Elements Panel Plugin »</a>
    </h2>
    <p>
        Reports opportunities for eager-loading elements in the debug toolbar.
    </p>

    <br>

    <h2>
        <a href="https://github.com/putyourlightson/craft-blitz-recommendations">Blitz Recommendations Plugin »</a>
    </h2>
    <p>
        Adds a utility that provides templating performance recommendations.
    </p>
    <p class="text-center">
        <img src="https://raw.githubusercontent.com/putyourlightson/craft-blitz-recommendations/v1/docs/blitz-recommendations.png" width="90%">
    </p>


{% endblock %}


{% set code = "
" %}
