{% extends '_layout' %}
{% set notes = [
    'Rename `entries` to `entryQuery`.',
    'Use correct element query methods (fix deprecated code).',
] %}

{% set limit = craft.app.request.getParam('limit') ?? 10 %}
{% set entryQuery = craft.entries
    .section('articles')
    .orderBy('order asc')
    .limit(limit)
%}


{% block content %}

    {% if entryQuery.count() %}
        <ul>
            {% for entry in entryQuery.all() %}
                <li>
                    {{ entry.title }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <p>
        <small>
            Showing {{ entryQuery.count() }} entries.
        </small>
    </p>

{% endblock %}


{% set code = "
{% set entryQuery = craft.entries.section('articles').limit(" ~ limit ~ ") %}

{% if entryQuery.count() %}
    <ul>
        {% for entry in entryQuery.all() %}
            <li>
                {{ entry.title }}
            </li>
        {% endfor %}
    </ul>
{% endif %}

Showing {{ entryQuery.count() }} entries.
" %}
