{% extends '_layout' %}
{% set notes = [
    'Output entries (using deprecated code).',
] %}

{% set limit = craft.app.request.getParam('limit') ?? 10 %}
{% set entries = craft.entries
    .section('articles')
    .orderBy('order asc')
    .limit(limit)
%}


{% block content %}

    {% if entries|length %}
        <ul>
            {% for entry in entries %}
                <li>
                    {{ entry.title }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <p>
        <small>
            Showing {{ entries|length }} entries.
        </small>
    </p>

{% endblock %}


{% set code = "
{% set entries = craft.entries.section('articles').limit(" ~ limit ~ ") %}

{% if entries|length %}
    <ul>
        {% for entry in entries %}
            <li>
                {{ entry.title }}
            </li>
        {% endfor %}
    </ul>
{% endif %}

Showing {{ entries|length }} entries.
" %}
