{% extends '_layout' %}
{% set notes = [
    'Output entries (using deprecated code).',
] %}

{% set limit = craft.app.request.getParam('limit') ?? 10 %}
{% set entryQuery = craft.entries.section('articles')
    .orderBy('order asc').limit(limit)
%}


{% block content %}

    {% if entryQuery|length %}
        <ul>
            {% for entry in entryQuery %}
                <li>
                    {{ entry.title }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <p>
        <small>
            Displaying {{ entryQuery|length }} entries.
        </small>
    </p>

{% endblock %}


{% set code = "
{% set entryQuery = craft.entries.section('articles')
    .orderBy('order asc').limit(limit)
%}

{% if entryQuery|length %}
    <ul>
        {% for entry in entryQuery %}
            <li>
                {{ entry.title }}
            </li>
        {% endfor %}
    </ul>
{% endif %}

Displaying {{ entryQuery|length }} entries.
" %}
